.login-container{
    .loaderIcon{
    margin-right: 7px;
    top: 2px;
    color: rgb(0, 162, 255);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
    .header{
        height: 45px;
        text-align: right;
        padding: 7px 130px 0 130px;
        button{
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 5px;
            background: rgb(233, 233, 233);
            border: 1px solid;
            &:hover{
                background-color: white;
            }
        }
    }
    .title{
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }
    .welcome{
        font-size: 20px;
        padding: 10px 0;
                text-align: center;

    }
    .content-form{
       input{
         margin-bottom: 15px;
         margin-top: 3px;
       }
       button{
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin: 20px 0 ;
        color: rgb(255, 255, 255);
        background: black;

        &:disabled{
            background: #dddddd;
            color: #afafaf;
            cursor: no-drop;
        }
       }
       .back{
        cursor: pointer;
       }
    }
}